* {
    margin: 0;
    padding: 0;
    /* border: 1px solid #000; */
}

body {
    box-sizing: border-box;
    font-weight: normal;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: normal;
    height: 100vh;

}

.wrapper {
    width: 1200px;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    position: relative;
}

.gallery__image {
    width: 22%;
    margin: 10px;
    overflow: hidden;
    border-radius: 10px;
}

.gallery__image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
    transition: 0.5s ease;
}
.gallery__image:hover img {
    transform: scale(1.2);
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* align-items: center; */
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0.8);
}

.overlay .overlay__content {
    width: 70%;
    pointer-events: none;
}

.overlay .overlay__content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.btn-next {
    position: absolute;
    top: 50%;
    right: 20px;
    font-size: 50px;
    color: rgba(0,0,0,0.2);
    transform: translateY(-50%);
    transition: 0.5s ease;
    cursor: pointer;
}
.btn-prev {
    position: absolute;
    top: 50%;
    left: 20px;
    font-size: 50px;
    color: rgba(0,0,0,0.2);
    transform: translateY(-50%);
    transition: 0.5s ease;
    cursor: pointer;
}

.btn-next:hover {
    color: rgba(0,0,0,0.8);
}
.btn-prev {
    position: absolute;
    top: 50%;
    left: 20px;
    font-size: 50px;
    color: rgba(0,0,0,0.2);
    transform: translateY(-50%);
    transition: 0.5s ease;
}

.btn-prev:hover {
    color: rgba(0,0,0,0.8);
}

a.ic-close-modal {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 36px;
    color: rgba(0,0,0,0.2);
    transition: 0.5s ease;
}

a.ic-close-modal:hover {
    color: rgba(0,0,0,0.8);
}

.show{
    opacity: 1 !important;
    pointer-events: auto !important;
    transform: scale(1);
}

.overlay{
    pointer-events: none;
    opacity: 0;
    transition: 0.2s ease;
}

a.btn-closed {
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 32px;
    color: rgba(0,0,0,0.2);
    cursor: pointer;
}

a.btn-closed:hover {
    color: rgba(0,0,0,0.8);
}